<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StockKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>StockKitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Stocks+.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TodayStocks+.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F35FD0219A8EEC900AA273B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F35FD0C19A8EEC900AA273B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F35FD1E19A8F10700AA273B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FAFF6C2199EEE0500B4D55E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FAFF6D5199EEE0600B4D55E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FAFF6E9199EEE9B00B4D55E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
